* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    color: #404040;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    color: #05014A;
    margin-bottom: 15px;
}

.navbar ul {
    list-style-type: none;
}

hr {
    border-color: #05014A;
}

p {
    font-size: 14px;
}

a {
    font-family: 'Merriweather';
    color: #404040;
    text-decoration: none;
}

/* Header */
#header {
    max-width: 900px;
    width: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding-top: 10px;
    height: 70px;
    background-color: #ffffff;
    top: 0px;
}

/* Main Image */
.title-image {
    width: 100%;
    max-height: 350px;
    overflow: hidden;
    margin: 70px auto 0px auto;
}

/* Logo */
.logo__wrapper {
    width: 150px;
    float: left;
}

/* Langswitch */
.lang-switch {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #404040;
    padding: 2px 10px;
    color: #ffffff;
}

.lang-switch__link {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;

}

/* Navbar */
.navbar {
    float: right;
    margin-top: 20px;
}

.navbar__link,
.navbar__link--enroll {
    width: auto;
    float: left;
    margin-right: 20px;
    padding: 8px 12px;
}

.navbar__link-de,
.navbar__link--enroll-de {
    width: auto;
    float: left;
    margin-right: 10px;
    padding: 8px;
}

.navbar__link:hover {
    border-bottom: 1px solid #404040;
}

.navbar__link--enroll, .navbar__link--enroll-de {
    background-color: #05014A;
    color: #fff;
    margin-right: 0px;
    border-radius: 5px;

}

.navbar__link--enroll .navbar__link--a, .navbar__link--enroll-de .navbar__link--a {
    color: #ffffff;
    padding-bottom: 5px;
}

/* Main Content */
.content__wrapper {
    max-width: 900px;
    width: 100%;
    margin: 50px auto;
    overflow: hidden;
}

.main__button {
    width: auto;
    padding: 8px 12px;
    background-color: #05014A;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    margin-top: 40px;
}

/* Content Boxes */
.content__wrapper--boxes {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    justify-content: space-between;
}

.content__wrapper--half {
    display: grid;
    grid-template-columns: 46% 46%;
    justify-content: space-between;
    margin-top: 50px;
}

.content-boxes {
    border: 1px solid #05014A;
    border-radius: 5px;
}

.content-boxes__header {
    padding: 15px 65px;
}

.content__main {
    padding: 10px;
    text-align: center;
}

.hr__wrapper {
    padding: 0px 30px;
}


/* Seperator */
.content__seperator {
    background-color: #E0E0E0;
    width: 100%;
    padding: 30px 0px;
    margin-top: 50px;
    overflow: hidden;
}

.content__leftside {
    float: left;
    width: 50%;
}

.content__leftside--30 {
    float: left;
    width: 30%;
}

.content__rightside {
    float: right;
    width: 50%;
}

.content__rightside--35 {
    float: right;
    width: 35%;
}

.content__rightside--30 {
    float: right;
    width: 30%;
}

/* Footer */
#footer {
    background-color: #05014A;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    float: left;
    width: 100%;
}

.footer__left {
    width: 50%;
    float: left;
}

.footer__right {
    width: 50%;
    float: left;
}

#footer a {
    color: #ffffff;
    font-size: 12px;
    font-family: 'Montserrat', serif;
}

.footer__wrapper {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

#footer p {
    font-size: 12px;
    text-align: right;
}

.business_block {
    width: 400px;
    margin: 10px;
    float: left;
    margin-left: 30px;
    text-align: center;
}

.business_block h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.business_block p {
    text-align: absolute;
}

.bsub_block {
    max-width: 900px;
    width: 100%;
    height: 2000px;
}

.bsub_block-req{
	float: left;
}

.bsub_block-text{
	padding-bottom: 50px;
}

.bsub_block p {
    padding-top: 20px;
}

.readmoreb {
    width: 150px;
    padding: 8px;
}

.readmoreb {
    background-color: #05014A;
    color: #fff;
    border-radius: 5px;
    margin-left: 120px;
    margin-top: 50px;

}

.readmoreb--b {
    color: #fff;
}

/* Google Map */
#map {
    width: 100%;
    height: 500px;
    background-color: grey;
}

/* Form */
.input_text {
    height: 35px;
    padding-left: 20px;
    width: 100%;
    border: 0px;
    background-color: #E0E0E0;
    color: #404040;
    margin-bottom: 15px;
}

.input_textarea {
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    border: 0px;
    background-color: #E0E0E0;
    resize: none;
    margin-bottom: 15px;
    font-size: 12px !important;
    font-family: 'Montserrat', serif !important;
}

::placeholder {
    color: #404040;
    font-size: 12px !important;
    font-family: 'Montserrat', serif !important;
}

textarea:focus,
input:focus {
    outline: none;
}

.input_select {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: #E0E0E0;
    z-index: 10;
    margin-bottom: 15px;
    border-radius: 5px;
}

select {
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 15px;
    color: #404040;
}

.main-form .main__button {
    margin-top: 0px;
    width: 100%;
}

/* Thanks Page */
.thanks__content {
    margin-top: 50px;
}

.thanks__headline {
    margin-bottom: 12px;
}

/* Disclaimer | Privacy Policy */
.disclaimer__content,
.privacy-policy__content {
    margin-top: 50px;
}

.disclaimer__paragraph,
.privacy-policy__paragraph {
    margin-bottom: 12px;
}

/* Contact Page */

.contact__wrapper {
    margin-top: 50px;
}

.contact__social-media a {
    font-size: 30px;
}

.fa {
    padding-top: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;

}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

/* Enroll-now page */
.enroll_li {
	margin-bottom:15px;
	text-align: justify;
}
.deadline {
	margin-bottom:0px;
	text-align: justify;
}
.enroll__list--unordered {
	list-style: circle;
	margin-left:20px;
}
.enroll__list--ordered {
	list-style: decimal;
	margin-left:20px;
}
.enroll__textbox--title {
    margin-bottom: 30px;
    margin-left: 0px;
}

.enroll__textbox--text {
    text-align: justify;
    margin-bottom: 30px;
}

.enroll__button {
    width: auto;
    padding: 8px 12px;
    background-color: #05014A;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    margin-top: 15px;
}

/* Why UBT Page */
.interview__section {
    padding: 20px;
}

.interview__wrapper {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: space-between;
    text-align: center;
    grid-row-gap: 50px;
}

.interview__image {
    border-radius: 50%;
}

.interview__box .main__button {
    margin-top: 10px;
}

/* Weather */
.weather__image,
.weather__text {
    width: 50%;
    float: left;
}

.weather__text {
    padding-left: 20px;
}

.weather-temperatur {
    font-size: 40px;
    font-weight: 700;
    color: #05014A;
    font-family: 'Merriweather', serif;
    display: inline-block;
    margin-bottom: 10px;
}

.bsub_block1{
	float: left;
}

.bsub_block-text{
	max-width: 900px;
    width: 100%;
	float: left;
}

.bsub_block1_img{
	margin-top: 25px;
	width: 650px;
	float: left;
}

.bsub_block1_text{
	height: 433.53px;
	width: 250px;
	background-color: #E0E0E0;
	float: left;
	margin-top: 25px;
}

.bsub_block1_text1{
	text-align: left;
	margin-left: 10px;
	margin-top:	30px;
}

.bsub_block1_text1 p{
	font-size: 36px;	
}