* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    color: #404040;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: #404040;
    text-decoration: none;
}

/* Header */
#header {
    width: 900px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 20px;
    height: 70px;
    background-color: #ffffff;
    top: 0px;
}

/* Main Image */
.title-image {
    width: 900px;
    margin: 70px auto 0px auto;
}

/* Logo */
.logo__wrapper {
    width: 150px;
    float: left;
}

/* Navbar */
.navbar {
    float: right;
}

.navbar__link,
.navbar__link--enroll {
    width: auto;
    float: left;
    margin-right: 20px;
    padding: 8px 12px;
}

.navbar__link--enroll {
    background-color: #05014A;
    color: #fff;
    margin-right: 0px;
}

.navbar__link--enroll .navbar__link--a {
    color: #ffffff;
}

/* Main Content */
.content__wrapper {
    width: 900px;
    margin: 0 auto;
}

.content__wrapper--boxes {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-between;
}

/* Footer */
#footer {
    background-color: #05014A;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    color: #fff;
    float: left;
    width: 100%;
}

.footer__left {
    width: 50%;
    float: left;
}

.footer__right {
    width: 50%;
    float: left;    
}

#footer a{
    color: #ffffff;
}

.footer__wrapper {
    width: 900px;
    margin: 0 auto;
}