@media (max-width:990px) {

    .navbar__link,
    .navbar__link--enroll {
        border-bottom: 1px solid #fff;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .content__wrapper {
        padding: 0px 20px;
    }

    .content__wrapper--boxes {
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
        grid-ROW-gap: 20px;
    }

    .content__leftside--30,
    .content__rightside,
    .content__leftside,
    .content__rightside--35,
    .content__rightside--30,
    .content__leftside--40 {
        width: 100%;
        margin-top: 50px;
    }

    #footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer__left,
    .footer__right {
        width: 100%;
    }

    #footer p {
        text-align: left;
        margin-top: 10px;
    }

    .interview__wrapper {
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
        grid-ROW-gap: 20px;
    }
}

@media (max-width:768px) {
    .logo__wrapper {
        width: 100px;
        margin: 0 auto;
        float: none;
    }

    #header {
        padding-left: 10px;
        position: relative;
        text-align: center;
    }

    .bsub_block1_img {
        width: 100%;
        float: none;
        height: auto;
    }

    .bsub_block1_text {
        width: 100%;
        height: auto;

    }

    .bsub_block1_text1 {
        margin: 0px;
    }

    .bsub_block1_text1 p {
        font-size: 26px;
        padding: 8px;
    }
}

@media (max-width:549px) {
    .content__wrapper--boxes {
        display: grid;
        grid-template-columns: 100%;
        justify-content: space-between;
        grid-row-gap: 20px;
    }

    .content__wrapper--half {
        display: grid;
        grid-template-columns: 100%;
        justify-content: space-between;
        grid-row-gap: 20px;
    }

    .interview__wrapper {
        display: grid;
        grid-template-columns: 100%;
        justify-content: space-between;
        grid-row-gap: 45px;
    }
}
